# --- Fortran build artifacts (do not track) ---
rascas/f90/*.o
rascas/f90/*.mod
rascas/f90/rascas
rascas/f90/rascas-serial


# --- Heavy tutorial data (do not track) ---
rascas/tutorials/RamsesSimulations/RASCAS_DATA/diskSimulation/
rascas/tutorials/RamsesSimulations/RASCAS_DATA/diskSimulation/output_00018/
rascas/tutorials/RamsesSimulations/RASCAS_DATA/seds-for-tutorials/