# --- Fortran build artifacts (do not track) ---
rascas/f90/*.o
rascas/f90/*.mod
rascas/f90/rascas
rascas/f90/rascas-serial


# --- Heavy tutorial data (do not track) ---
rascas/tutorials/RamsesSimulations/RASCAS_DATA/*

# Allow keeping empty folder with .gitkeep
!rascas/tutorials/RamsesSimulations/RASCAS_DATA/.gitkeep